name: Rust Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: sudo apt-get update && sudo apt-get install -y libasound2-dev pkg-config

    - name: Build release binary
      run: cargo build --release

    - name: Upload udsaudio binary
      uses: softprops/action-gh-release@v2
      with:
        files: target/release/udsaudio
